body{
    margin: 0px;
    padding: 0px;
    background: #110038;
}
.nav-gifos {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-right: white 1px solid;
    border-bottom: black 1px solid;
}
.nav-title{
    font-family: 'Chakra Petch';
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0;
    margin: 0px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* logo */
.div-logos{
    display: flex;
    align-items: center;
    margin-top:35px;
}
.volver{
    margin-left: 4.2%;
    display: block;
}
.logo{
    margin-left: 7px;
    width: 102.6px;
    height: 64px;
}
/* crear gif */
.container-crear{
    display: flex;
    justify-content: center;
}
.info-crear{
    background: #B4B4B4;    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    width: 684px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.titular-crear{
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    padding-left: 4px;
    padding-top: 3.4px;
    padding-bottom: 2.6px;
}
.titulo-crear{
    margin : 0px;
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.cuerpo-info-crear{
    display: flex;
}
.div-img-info-crear{
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 16px;
}
.contenedor-texto-crear{
    margin-top: 30px;
}
.titulo-info-crear{
    margin: 0px;
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}
.info-crear-guif{
    font-family: 'Chakra Petch';
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
}
.bold{
    font-weight: bold;
    color: #00001A;
}
.italic{
    font-style: italic;
}
.btn-cancelar{
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
    margin-left: 344px;
    margin-right: 16px;
    margin-top: 6px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.btn-cancelar:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-cancelar:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-comenzar{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
    margin-bottom: 36px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.btn-comenzar:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-comenzar:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
/* caturar gif */
.container{
    display: flex;
    justify-content: center;
}
.contenedor-capturar{
    width: 860px;
    height: 548px;
    background: #B4B4B4;    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.titular-capturando-gif{
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    padding-left: 7px;
    padding-bottom: 2.6px;
    padding-top: 3.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo-capturar-gif{
    margin: 0px;
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.btn-closed{
    padding: 0px;
    margin: 0px;
    border: none;
    width: auto;
    height: 14px;
    margin-right: 10px;
}
/* captura */
.contenedor-video-captura{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-left: 8px;
    margin-right: 14px;
    margin-top: 8px;
    margin-bottom: 21px;
}
.video-captura{
    width: 832px;
    height: 434px;
    margin: 3px;
}
.btn-camara{
    display: flex;
    margin-left: 663px;
    margin-bottom: 16px;
}
.btn-ico-camara{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    height: 36px;
    width: 36px;
}
.btn-ico-camara:hover {
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-ico-camara:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-capturar{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    width: 144px;
}
.btn-capturar:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-capturar:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-ico-record{
    background: #FF6161;
    border: solid 1px #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    height: 36px;
    width: 36px;
}
.btn-ico-record:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-ico-record:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.contenedor-btn-grabando{
    display: flex;
    margin-bottom: 16px;
    margin-right: 16px;
}
.btn-listo{
    background: #FF6161;
    border: solid 1px #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.btn-listo:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-listo:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.cronometro-container{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 124px;
    height: 36px;
    margin-left: 16px;
}
.btn-camara-stop{
    display: flex;
    justify-content: space-between;
}
.btn-subir-repetir{
    margin-left: 542px;
}
.btn-subir{
    height: 36px;
    width: 144px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.btn-subir:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-subir:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-repetir{
    height: 36px;
    width: 144px;
    margin-right: 14px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.btn-repetir:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-repetir:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.cargando{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texto-cargando{
    font-family: 'Chakra Petch';
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    margin: 0px;
}
.tachado{
    text-decoration: line-through;
}
.titulo-cargando{
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin: 0px;
    margin-bottom: 21px;
    margin-top: 8px;
}
.btn-cancelar-up{
    margin-left: 702px;
    width: 144px;
    height: 36px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.btn-cancelar-up:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-cancelar-up:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.div-exito{
    background: #B4B4B4;    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    width: 721px;
    height: 391px;
}
.titular-exito{
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    padding-left: 4px;
    padding-top: 3.4px;
    padding-bottom: 2.6px;
}
.titulo-exito{
    margin: 0px;
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.div-exito-hijo{
    display: flex;
    justify-content: space-between;
}
.contenedor-img-exito{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 371px;
    height: 196px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 27px;
}
.img-exito{
    width: 365px;
    height: 191px;
}
.contenedor-btn-exito{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.creado-exito{
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0px;
    margin-top: 49px;
    margin-bottom: 16px;
}
.btn-exito{
    width: 256px;
    height: 36px;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-bottom: 14px;
    margin-right: 46px;
}
.btn-exito:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-exito:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-listo-dos{
    margin-left: 531px;
    margin-top: 61px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    width: 144px;
    height: 36px;
}
.btn-listo-dos:hover{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.btn-listo-dos:focus{
    outline: dotted 1px black;
    outline-offset: -4px;
}
.container-exito{

    justify-content: center;
}

/* mis gifos */

.div-sugeridos{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    margin-top: 64px;
    margin-left: 6.9%;
    margin-right: 9.7%;
    height: 32px;
    display: flex;
    align-items: center;
}
.title-sugeridos{
    font-family: 'Chakra Petchr';
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    margin-left: 7px;
}
.div-resultados-mis-gifos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 7.2%;
    margin-right: 10%;
    margin-top: 19px;
}
.videoLocalStorage{
    width: 100%;
}
.div-local-gif{
    height: 27%;
    width: 23%;
}
